FRONTEND_ORIGIN=http://localhost:5173
CIRCLE_API_KEY=your_circle_api_key_here
CIRCLE_ENTITY_SECRET=your_circle_entity_secret_here
CIRCLE_USDC_CONTRACT=0x3600000000000000000000000000000000000000
CIRCLE_API_URL=https://api.circle.com
ARC_RPC_URL=https://rpc.testnet.arc.network
CIRCLE_APP_ID=your_circle_app_id_here
FEATHERLESS_API_KEY=your_featherless_api_key_here
CIRCLE_MASTER_WALLET_ID=your_master_wallet_id_here
AIML_API_KEY=your_aiml_api_key_here
AIML_API_URL=https://api.aimlapi.com/v1
CIRCLE_ENTITY_SECRET_CIPHERTEXT=your_ciphertext_here
MOCK_PAYMENTS=false
SUPABASE_URL=your_supabase_url_here
SUPABASE_KEY=your_supabase_anon_key_here
DATABASE_URL=your_database_connection_string_here
CIRCLE_ENTITY_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
... your public key here ...
-----END PUBLIC KEY-----"
GOOGLE_API_KEY=your_google_ai_key_here
